<div class='container'>
  <div class='row'>
    <div class='col p-2'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Cool App</h5>
          <p class='card-text'>Good job!</p>
        </div>
      </div>
    </div>
  </div>
</div>
